# deploy weight 50

# use existing t2_proxy network defined by docker-env stack
networks:
  t2_proxy:
    name: t2_proxy
    external: true

services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:2.32.1@sha256:a52dc5db694a5bf041ce38f285dd6c6a660a4b1b21e37ad6b6746433263b2ae5
    restart: unless-stopped
    volumes:
      - $VOLUME_DIR/audiobookshelf/audiobooks:/audiobooks:ro
      - $VOLUME_DIR/audiobookshelf/podcasts:/podcasts:ro
      - $VOLUME_DIR/audiobookshelf/config:/config
      - $VOLUME_DIR/audiobookshelf/metadata:/metadata
    environment:
      - TZ=$TZ
      - AUDIOBOOKSHELF_UID=$PUID
      - AUDIOBOOKSHELF_GID=$PGID
      - PORT=8088
    networks:
      - t2_proxy
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.audiobookshelf-rtr.entrypoints=https"
      - "traefik.http.routers.audiobookshelf-rtr.priority=1" # FOR ALLOWING LOCAL ACCESS
      - "traefik.http.routers.audiobookshelf-rtr.rule=Host(`audiobookshelf.$DOMAINNAME_CLOUD_SERVER`)"
      - "traefik.http.routers.audiobookshelf-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.audiobookshelf-rtr.middlewares=chain-authelia@file"
      ## HTTP Services
      - "traefik.http.routers.audiobookshelf-rtr.service=audiobookshelf-svc"
      - "traefik.http.services.audiobookshelf-svc.loadbalancer.server.port=8088"
      ## LOCAL ACCESS - Allow local (home) access without traefik auth
      ## HTTP Routers
      - "traefik.http.routers.audiobookshelf-local-rtr.entrypoints=https"
      - "traefik.http.routers.audiobookshelf-local-rtr.priority=99"
      - "traefik.http.routers.audiobookshelf-local-rtr.rule=Host(`audiobookshelf.$DOMAINNAME_CLOUD_SERVER`) && ClientIP(`192.168.0.0/16`)"
      - "traefik.http.routers.audiobookshelf-local-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.audiobookshelf-local-rtr.middlewares=chain-no-auth@file"
      ## HTTP Services
      - "traefik.http.routers.audiobookshelf-local-rtr.service=audiobookshelf-svc"
    extra_hosts:
      - "auth.$DOMAINNAME_CLOUD_SERVER:$DOCKER_SERVER_IP" # required for oidc auth

  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser@sha256:379e12c1b49fb367b54265488a67f0789ab8903cf84655ce0282930cd7eda953
    restart: unless-stopped
    user: $PUID:$PGID
    volumes:
      - $VOLUME_DIR/filebrowser/database:/database
      - $VOLUME_DIR/filebrowser/config:/config
      - $VOLUME_DIR/audiobookshelf/audiobooks:/srv/audiobooks
    environment:
      - TZ=$TZ
    networks:
      - t2_proxy
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.filebrowser-rtr.entrypoints=https"
      - "traefik.http.routers.filebrowser-rtr.rule=Host(`filebrowser.$DOMAINNAME_CLOUD_SERVER`)"
      - "traefik.http.routers.filebrowser-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.filebrowser-rtr.middlewares=chain-authelia@file"
      ## HTTP Services
      - "traefik.http.routers.filebrowser-rtr.service=filebrowser-svc"
      - "traefik.http.services.filebrowser-svc.loadbalancer.server.port=8080"
