# deploy weight 49

# use existing t2_proxy network defined by docker-env stack
networks:
  t2_proxy:
    name: t2_proxy
    external: true

services:
  libation:
    container_name: libation
    image: rmcrackan/libation:12.6.0@sha256:c417d0853638f5f1fc9a2cecc578700936b8b83f2416325cfe3b02ec7d40cd14
    restart: unless-stopped
    user: $PUID:$PGID
    environment:
      - TZ
      - LIBATION_DB_DIR=/db
      - SLEEP_TIME=4h
    volumes:
      # use secrets ?
      - $VOLUME_DIR/libation/config:/config
      - $VOLUME_DIR/libation/db:/db
      - $VOLUME_DIR/audiobookshelf/audiobooks/jacobfg:/data
      - $VOLUME_DIR/libation/logs:/logs
    networks:
      - t2_proxy
    labels:
      - "traefik.enable=false"