# deploy weight 49

# use existing t2_proxy network defined by docker-env stack
networks:
  t2_proxy:
    name: t2_proxy
    external: true

services:
  libation:
    container_name: libation
    image: rmcrackan/libation:12.7.5@sha256:81a1469d0441f643b314ce3f9c02a3c947adceb6f4245961e84c79440a16a997
    restart: unless-stopped
    user: $PUID:$PGID
    environment:
      - TZ
      - LIBATION_DB_DIR=/db
      - SLEEP_TIME=4h
    volumes:
      # use secrets ?
      - $VOLUME_DIR/libation/config:/config
      - $VOLUME_DIR/libation/db:/db
      - $VOLUME_DIR/audiobookshelf/audiobooks/jacobfg:/data
      - $VOLUME_DIR/libation/logs:/logs
    networks:
      - t2_proxy
    labels:
      - "traefik.enable=false"