name: Renovate Bot
on:
  workflow_dispatch:
  schedule:
   - cron: '4 */6 * * *'
  # push:
  #   branches:
  #     - dev

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Renovate
        uses: renovatebot/github-action@87c405b9750f1b6affae06311395b50e3882d54f # v42.0.6
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          # Repository taken from variable to keep configuration file generic
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          # Onboarding not needed for self hosted
          RENOVATE_ONBOARDING: "false"
          # Git commit author used, must match GitHub App
          RENOVATE_GIT_AUTHOR: "Renovate Bot for me <10949267+jacobfg@users.noreply.github.com>"
          # LOG_LEVEL: 'debug'
